﻿/* Leaderboards
---------------------------------------------------*/
.header-text{
    font-style: italic;
    font-weight: 600;
    font-size: 25px;
    margin-left:10px;
}

#leaderboard-header{
  height: 200px;
  background: url('/Images/backgrounds/mario_background.jpg') repeat-x top center;
  background-size:cover;
  z-index: 1;
}

#floating-header-text{
    float:left;
    margin-top:110px;
    margin-left:50px;
}

#floating-header-text h3{
    font-size:xx-large;
    font-weight:bold;
}

#recent-activity{
    margin-top:20px;
}

/* Responsive
-------------------------------------------------- */
@media (max-width: 991px) {
  #showcase .features_op1_row .feature .img_box span.circle {
    top: 35%; }

  #clients .row {
    text-align: center; }
  #clients .client {
    text-align: center;
    margin-bottom: 15px;
    display: inline-block;
    margin-right: 10px;
    float: none; } }
@media (min-width: 768px) and (max-width: 979px) {
  #in_pricing .plan a.order {
    width: 64%; }

  .slide .info h2, .slide .info h2 * {
    font-size: 30px !important; }
  .slide#responsive .info {
    position: absolute;
    top: 170px;
    right: 6%;
    width: 25%; }
  .slide#tour .info {
    font-size: 15px; }
    .slide#tour .info a {
      font-size: 15px; } }
@media (min-width: 768px) {
  #features .feature .pic-right {
    float: right; }
  #features .feature .info-left {
    float: left; } }
@media (max-width: 767px) {
  #partner-slider,
  #feature_slider {
    display: none; }

  #features .section_header {
    text-align: center; }
  #features .feature img {
    margin: 0 auto !important;
    float: none !important; }
  #features .feature .info h3 {
    text-align: center; }

  #showcase {
    margin-top: 120px; }
    #showcase .section_header {
      text-align: center; }
    #showcase .features_op1_row .feature {
      margin-bottom: 60px; }
      #showcase .features_op1_row .feature .img_box {
        text-align: center; }
        #showcase .features_op1_row .feature .img_box span.circle {
          top: 38%;
          left: 45%; }
      #showcase .features_op1_row .feature .text h6 {
        text-align: center; }
      #showcase .features_op1_row .feature:hover .img_box {
        box-shadow: none; }
    #showcase .features_op1_row .last {
      margin-bottom: 0; }

  #in_pricing .charts_wrapp {
    margin-left: 0; }
    #in_pricing .charts_wrapp .plan {
      margin: 0 auto 30px;
      width: 95%; }
      #in_pricing .charts_wrapp .plan .wrapper {
        margin: 0 auto;
        text-align: center; }
  #in_pricing .pro .plan {
    top: 0;
    width: 95%; }
  #in_pricing .standar .plan {
    float: none; }
  #in_pricing .start p {
    margin-bottom: 20px; }
  #in_pricing .start a {
    display: block;
    width: 50%;
    margin: 0 auto; } }
@media (max-width: 480px) {
  #showcase .features_op1_row .feature {
    margin-bottom: 60px; }
    #showcase .features_op1_row .feature .img_box {
      text-align: center; }
      #showcase .features_op1_row .feature .img_box span.circle {
        left: 44%; }
    #showcase .features_op1_row .feature .text h6 {
      text-align: left; }
    #showcase .features_op1_row .feature:hover .img_box {
      box-shadow: none; }
  #showcase .features_op1_row .last {
    margin-bottom: 0; } }
