@import url("badge-base.css");

.achievement-x-large{
	width:250px;
	height:250px;
}
.achievement-large{
	width:200px;
	height:200px;
}
.achievement-medium{
	width:125px;
	height:125px;
}
.achievement-small{
	width:62.5px;
	height:62.5px;
}
.achievement-x-small{
	width:30px;
	height:30px;
}