@import url("badge-base.css");

.award-x-large{
	width:250px;
	height:250px;
}
.award-large{
	width:200px;
	height:200px;
}
.award-medium{
	width:125px;
	height:125px;
}
.award-small{
	width:62.5px;
	height:62.5px;
}
.award-x-small{
	width:30px;
	height:30px;
}