@import url("badge-base.css");
@import url("badge-styles.css");

.badge-x-large{
	width:250px;
	height:250px;
}
.badge-large{
	width:200px;
	height:200px;
}
.badge-medium{
	width:125px;
	height:125px;
}
.badge-small{
	width:62.5px;
	height:62.5px;
}
.badge-x-small{
	width:30px;
	height:30px;
}