.basic{
	background:url(/Images/background-shapes/basic-background1.png) no-repeat !important;
	background-size:contain !important;
	padding-top:24% !important;
}
.basic-blue{
	background:url(/Images/background-shapes/basic-blue.png) no-repeat !important;
	background-size:contain !important;
	padding-top:24% !important;
}
.basic-green{
	background:url(/Images/background-shapes/basic-green.png) no-repeat !important;
	background-size:contain !important;
	padding-top:24% !important;
}
.basic-orange{
	background:url(/Images/background-shapes/basic-orange.png) no-repeat !important;
	background-size:contain !important;
	padding-top:24% !important;
}
.basic-purple{
	background:url(/Images/background-shapes/basic-purple.png) no-repeat !important;
	background-size:contain !important;
	padding-top:24% !important;
}
.purple{
	background:url(/Images/background-shapes/purple.png) no-repeat !important;
	background-size:contain !important;
	padding-top:24% !important;
}
.basic-rounded{
	background:url(/Images/background-shapes/basic-rounded.png) no-repeat !important;
	background-size:contain !important;
	padding-top:24% !important;
}
.basic-diamond{
	background:url(/Images/background-shapes/diamond.png) no-repeat !important;
	background-size:contain !important;
	padding-top:24% !important;
}
.shield1{
	background:url(/Images/background-shapes/1.png) no-repeat !important;
	background-size:contain !important;
	padding-top:24% !important;
}
.shield2{
	background:url(/Images/background-shapes/2.png) no-repeat !important;
	background-size:contain !important;
	padding-top:24% !important;
}
.shield3{
	background:url(/Images/background-shapes/3.png) no-repeat !important;
	background-size:contain !important;
	padding-top:24% !important;
}
.shield4{
	background:url(/Images/background-shapes/4.png) no-repeat !important;
	background-size:contain !important;
	padding-top:24% !important;
}
.shield5{
	background:url(/Images/background-shapes/5.png) no-repeat !important;
	background-size:contain !important;
	padding-top:24% !important;
}
.shield6{
	background:url(/Images/background-shapes/6.png) no-repeat !important;
	background-size:contain !important;
	padding-top:24% !important;
}
.shield7{
	background:url(/Images/background-shapes/7.png) no-repeat !important;
	background-size:contain !important;
	padding-top:24% !important;
}
.shield8{
	background:url(/Images/background-shapes/8.png) no-repeat !important;
	background-size:contain !important;
	padding-top:24% !important;
}
.shield9{
	background:url(/Images/background-shapes/9.png) no-repeat !important;
	background-size:contain !important;
	padding-top:24% !important;
}
.shield10{
	background:url(/Images/background-shapes/10.png) no-repeat !important;
	background-size:contain !important;
	padding-top:24% !important;
}
.shield11{
	background:url(/Images/background-shapes/11.png) no-repeat !important;
	background-size:contain !important;
	padding-top:24% !important;
}
.shield12{
	background:url(/Images/background-shapes/12.png) no-repeat !important;
	background-size:contain !important;
	padding-top:24% !important;
}
.shield13{
	background:url(/Images/background-shapes/13.png) no-repeat !important;
	background-size:contain !important;
	padding-top:24% !important;
}
.shield14{
	background:url(/Images/background-shapes/14.png) no-repeat !important;
	background-size:contain !important;
	padding-top:24% !important;
}
.shield15{
	background:url(/Images/background-shapes/15.png) no-repeat !important;
	background-size:contain !important;
	padding-top:24% !important;
}
.shield16{
	background:url(/Images/background-shapes/16.png) no-repeat !important;
	background-size:contain !important;
	padding-top:24% !important;
}
.trophy .badge-inner{
	background:url(/Images/foregrounds/basic-foreground1.png) no-repeat !important;
	background-size:contain !important;
	margin-left:auto !important;
	margin-right:auto !important;
}
.left-arrow .badge-inner{
	background:url(/Images/foregrounds/left-arrow.png) no-repeat !important;
	background-size:contain !important;
	margin-left:auto !important;
	margin-right:auto !important;
}
.dark-gear .badge-inner{
	background:url(/Images/foregrounds/dark-gear.png) no-repeat !important;
	background-size:contain !important;
	margin-left:auto !important;
	margin-right:auto !important;
}
.light-gear .badge-inner{
	background:url(/Images/foregrounds/light-gear.png) no-repeat !important;
	background-size:contain !important;
	margin-left:auto !important;
	margin-right:auto !important;
}
.wrench .badge-inner{
	background:url(/Images/foregrounds/wrench.png) no-repeat !important;
	background-size:contain !important;
	margin-left:auto !important;
	margin-right:auto !important;
}
.lion1 .badge-inner{
	background:url(/Images/foregrounds/lion1.png) no-repeat !important;
	background-size:contain !important;
	margin-left:auto !important;
	margin-right:auto !important;
}
.crown1 .badge-inner{
	background:url(/Images/foregrounds/crown1.png) no-repeat !important;
	background-size:contain !important;
	margin-left:auto !important;
	margin-right:auto !important;
}
.crown2 .badge-inner{
	background:url(/Images/foregrounds/crown2.png) no-repeat !important;
	background-size:contain !important;
	margin-left:auto !important;
	margin-right:auto !important;
}
.unicorn .badge-inner{
	background:url(/Images/foregrounds/unicorn.png) no-repeat !important;
	background-size:contain !important;
	margin-left:auto !important;
	margin-right:auto !important;
}
.lion-head1 .badge-inner{
	background:url(/Images/foregrounds/lion-head1.png) no-repeat !important;
	background-size:contain !important;
	margin-left:auto !important;
	margin-right:auto !important;
}
.lion2 .badge-inner{
	background:url(/Images/foregrounds/lion2.png) no-repeat !important;
	background-size:contain !important;
	margin-left:auto !important;
	margin-right:auto !important;
}
.eagle1 .badge-inner{
	background:url(/Images/foregrounds/eagle1.png) no-repeat !important;
	background-size:contain !important;
	margin-left:auto !important;
	margin-right:auto !important;
}
.lion-head2 .badge-inner{
	background:url(/Images/foregrounds/lion-head2.png) no-repeat !important;
	background-size:contain !important;
	margin-left:auto !important;
	margin-right:auto !important;
}
.fluer1 .badge-inner{
	background:url(/Images/foregrounds/fluer1.png) no-repeat !important;
	background-size:contain !important;
	margin-left:auto !important;
	margin-right:auto !important;
}
.acorn .badge-inner{
	background:url(/Images/foregrounds/acorn.png) no-repeat !important;
	background-size:contain !important;
	margin-left:auto !important;
	margin-right:auto !important;
}
.horse1 .badge-inner{
	background:url(/Images/foregrounds/horse1.png) no-repeat !important;
	background-size:contain !important;
	margin-left:auto !important;
	margin-right:auto !important;
}
.leaf1 .badge-inner{
	background:url(/Images/foregrounds/leaf1.png) no-repeat !important;
	background-size:contain !important;
	margin-left:auto !important;
	margin-right:auto !important;
}
.firebird1 .badge-inner{
	background:url(/Images/foregrounds/firebird1.png) no-repeat !important;
	background-size:contain !important;
	margin-left:auto !important;
	margin-right:auto !important;
}
.wheel1 .badge-inner{
	background:url(/Images/foregrounds/wheel1.png) no-repeat !important;
	background-size:contain !important;
	margin-left:auto !important;
	margin-right:auto !important;
}
.backgroundless{
	padding-top:24% !important;
}
