.badge-base{
	overflow:hidden;
    background-color:white;
    border-radius: 10px 0;
    padding:5px;
}
.badge-outer{
	width:100%;
	height:100%;
}
.badge-outer .badge-inner{
	width:50%;
	height:50%;
}