﻿@{
    ViewBag.Title = "Level Up Leaderboard";
}
 
<link rel="stylesheet" type="text/css" href="~/Content/themes/default/Home/index.css" />

<section id="leaderboard-header" >
    <div id="floating-header-text">
        <h3>System Leaderboards</h3>
    </div>
</section>

<section id="recent-activity">
    <h3 class="header-text">Recent Activity</h3>
    <table class="table table-striped" id="recent-activity-table">
        <thead>
            <tr>
                <th>Individual or Team</th>
                <th>Award Type</th>
                <th>Title</th>
                <th>Date/Time</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="#">Wescot, Jack</a></td>
                <td>Award</td>
                <td><a href="#">ProcessMax Professional</a></td>
                <td>1/1/1900 12:00:00 AM</td>
            </tr>
            <tr>
                <td><a href="#">Strohschein, Daniel</a></td>
                <td>Achievement</td>
                <td><a href="#">The Escapee</a></td>
                <td>1/1/1900 12:00:00 AM</td>
            </tr>
            <tr>
                <td><a href="#">League of Justice</a></td>
                <td>Trophy</td>
                <td><a href="#">On down the road</a></td>
                <td>1/1/1900 12:00:00 AM</td>
            </tr>
        </tbody>
    </table>
</section>

<section id="leaderboards">
    <div id="team-leaders">
        <h3 class="header-text">Team Point Leaders</h3>
        <table class="table table-striped" id="team-leaderboard">
            <thead>
                <tr>
                    <th>Team</th>
                    <th>Awards</th>
                    <th>Cumulative Awards</th>
                    <th>Number of Members</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#">Wommbats</a></td>
                    <td>28</td>
                    <td>654</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td><a href="#">Red Bulls</a></td>
                    <td>20</td>
                    <td>123</td>
                    <td>2</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="individual-leaders">
        <h3 class="header-text">Individual Point Leaders</h3>
        <table class="table table-striped" id="individual-leaderboard">
            <thead>
                <tr>
                    <th>Individual</th>
                    <th>Awards</th>
                    <th>Trophies</th>
                    <th>Achievements</th>
                    <th>Last Award</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#">Wescot, Jack</a></td>
                    <td>3245</td>
                    <td>978</td>
                    <td>1254</td>
                    <td><a href="#">ProcessMax Professional</a></td>
                </tr>
                <tr>
                    <td><a href="#">Strohschein, Daniel</a></td>
                    <td>5873</td>
                    <td>2456</td>
                    <td>85</td>
                    <td><a href="#">Abandon Ship</a></td>
                </tr>
                <tr>
                    <td><a href="#">Anders, Robin</a></td>
                    <td>5727</td>
                    <td>647</td>
                    <td>262</td>
                    <td><a href="#">The long, hard road</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

@section scripts {
}