﻿@{
    ViewBag.Title = "Create an award";
}

<input id="background-class" type="hidden" value="basic" />
<input id="foreground-class" type="hidden" value="trophy" />
<div id="award-builder" class="container">
    <div class="row">
        <div class="col-xs-3 col-sm-5 col-md-9 col-lg-12">
            <div class="col-xs-offset-1 col-sm-offset-2 col-md-offset-4 col-lg-offset-5">
                <h4>Select your award elements</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="builder" class="col-xs-3 col-sm-5 col-md-9 col-lg-12">
            <div class="col-xs-offset-1 col-sm-offset-2 col-md-offset-4 col-lg-offset-5">
                <div id="award-display" title="This is my badge..." class="badge-base badge-x-large">
                    <div class="badge-outer basic trophy">
                        <div class="badge-inner">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <br />
        <h3>Backgrounds</h3>
        <div class="selector-element col-xs-12" data-selector-type="bg">
	        <div  title="This is my badge..." class="badge-base badge-x-small selector-item" data-selected-item="basic" >
		        <div class="badge-outer basic">
		        </div>
	        </div>
	        <div  title="This is my badge..." class="badge-base badge-x-small selector-item" data-selected-item="basic-blue">
		        <div class="badge-outer basic-blue">
		        </div>
	        </div>
	        <div  title="This is my badge..." class="badge-base badge-x-small selector-item" data-selected-item="purple">
		        <div class="badge-outer purple">
		        </div>
	        </div>
	        <div  title="This is my badge..." class="badge-base badge-x-small selector-item" data-selected-item="basic-rounded">
		        <div class="badge-outer basic-rounded">
		        </div>
	        </div>	
	        <div  title="This is my badge..." class="badge-base badge-x-small selector-item" data-selected-item="basic-green">
		        <div class="badge-outer basic-green">
		        </div>
	        </div>
	        <div  title="This is my badge..." class="badge-base badge-x-small selector-item" data-selected-item="basic-orange">
		        <div class="badge-outer basic-orange">
		        </div>
	        </div>	
	        <div  title="This is my badge..." class="badge-base badge-x-small selector-item" data-selected-item="basic-purple">
		        <div class="badge-outer basic-purple">
		        </div>
	        </div>
	        <div  title="This is my badge..." class="badge-base badge-x-small selector-item" data-selected-item="basic-diamond">
		        <div class="badge-outer basic-diamond">
		        </div>
	        </div>	
	        <div  title="This is my badge..." class="badge-base badge-x-small selector-item" data-selected-item="shield1">
		        <div class="badge-outer shield1">
		        </div>
	        </div>		
	        <div  title="This is my badge..." class="badge-base badge-x-small selector-item" data-selected-item="shield2">
		        <div class="badge-outer shield2">
		        </div>
	        </div>	
	        <div  title="This is my badge..." class="badge-base badge-x-small selector-item" data-selected-item="shield3">
		        <div class="badge-outer shield3">
		        </div>
	        </div>		
	        <div  title="This is my badge..." class="badge-base badge-x-small selector-item" data-selected-item="shield4">
		        <div class="badge-outer shield4">
		        </div>
	        </div>	
	        <div  title="This is my badge..." class="badge-base badge-x-small selector-item" data-selected-item="shield5">
		        <div class="badge-outer shield5">
		        </div>
	        </div>	
	        <div  title="This is my badge..." class="badge-base badge-x-small selector-item" data-selected-item="shield6">
		        <div class="badge-outer shield6">
		        </div>
	        </div>	
	        <div  title="This is my badge..." class="badge-base badge-x-small selector-item" data-selected-item="shield7">
		        <div class="badge-outer shield7">
		        </div>
	        </div>	
	        <div  title="This is my badge..." class="badge-base badge-x-small selector-item" data-selected-item="shield8">
		        <div class="badge-outer shield8">
		        </div>
	        </div>	
	        <div  title="This is my badge..." class="badge-base badge-x-small selector-item" data-selected-item="shield9">
		        <div class="badge-outer shield9">
		        </div>
	        </div>	
	        <div  title="This is my badge..." class="badge-base badge-x-small selector-item" data-selected-item="shield10">
		        <div class="badge-outer shield10">
		        </div>
	        </div>	
	        <div  title="This is my badge..." class="badge-base badge-x-small selector-item" data-selected-item="shield11">
		        <div class="badge-outer shield11">
		        </div>
	        </div>	
	        <div  title="This is my badge..." class="badge-base badge-x-small selector-item" data-selected-item="shield12">
		        <div class="badge-outer shield12">
		        </div>
	        </div>	
	        <div  title="This is my badge..." class="badge-base badge-x-small selector-item" data-selected-item="shield13">
		        <div class="badge-outer shield13">
		        </div>
	        </div>	
	        <div  title="This is my badge..." class="badge-base badge-x-small selector-item" data-selected-item="shield14">
		        <div class="badge-outer shield14">
		        </div>
	        </div>	
	        <div  title="This is my badge..." class="badge-base badge-x-small selector-item" data-selected-item="shield15">
		        <div class="badge-outer shield15">
		        </div>
	        </div>	
	        <div  title="This is my badge..." class="badge-base badge-x-small selector-item" data-selected-item="shield16">
		        <div class="badge-outer shield16">
		        </div>
	        </div>				
        </div>
    </div>
    <div class="row">
        <h3>Medallions</h3>
        <div class="selector-element col-xs-12" data-selector-type="fg">
	        <div  class="badge-base badge-x-small selector-item" data-selected-item="trophy">
		        <div class="badge-outer trophy backgroundless">
			        <div class="badge-inner">
                    </div>
		        </div>				
	        </div>
	        <div  class="badge-base badge-x-small selector-item" data-selected-item="left-arrow">
		        <div class="badge-outer left-arrow backgroundless">
			        <div class="badge-inner">
                    </div>
		        </div>
	        </div>
	        <div  class="badge-base badge-x-small selector-item" data-selected-item="dark-gear">
		        <div class="badge-outer dark-gear backgroundless">
			        <div class="badge-inner">
                    </div>
		        </div>
	        </div>
	        <div  class="badge-base badge-x-small selector-item" data-selected-item="light-gear">
		        <div class="badge-outer light-gear backgroundless">
			        <div class="badge-inner">
                    </div>					
		        </div>
	        </div>	
	        <div  class="badge-base badge-x-small selector-item" data-selected-item="wrench">
		        <div class="badge-outer wrench backgroundless">
			        <div class="badge-inner">
                    </div>					
		        </div>
	        </div>
	        <div  class="badge-base badge-x-small selector-item" data-selected-item="lion1">
		        <div class="badge-outer lion1 backgroundless">
			        <div class="badge-inner">
                    </div>					
		        </div>
	        </div>	
	        <div  class="badge-base badge-x-small selector-item" data-selected-item="crown1">
		        <div class="badge-outer crown1 backgroundless">
			        <div class="badge-inner">
                    </div>					
		        </div>
	        </div>		
	        <div  class="badge-base badge-x-small selector-item" data-selected-item="crown2">
		        <div class="badge-outer crown2 backgroundless">
			        <div class="badge-inner">
                    </div>					
		        </div>
	        </div>	
	        <div  class="badge-base badge-x-small selector-item" data-selected-item="unicorn">
		        <div class="badge-outer unicorn backgroundless">
			        <div class="badge-inner">
                    </div>					
		        </div>
	        </div>
	        <div  class="badge-base badge-x-small selector-item" data-selected-item="lion-head1">
		        <div class="badge-outer lion-head1 backgroundless">
			        <div class="badge-inner">
                    </div>					
		        </div>
	        </div>	
	        <div  class="badge-base badge-x-small selector-item" data-selected-item="lion2">
		        <div class="badge-outer lion2 backgroundless">
			        <div class="badge-inner">
                    </div>					
		        </div>
	        </div>
	        <div  class="badge-base badge-x-small selector-item" data-selected-item="eagle1">
		        <div class="badge-outer eagle1 backgroundless">
			        <div class="badge-inner">
                    </div>					
		        </div>
	        </div>
	        <div  class="badge-base badge-x-small selector-item" data-selected-item="lion-head2">
		        <div class="badge-outer lion-head2 backgroundless">
			        <div class="badge-inner">
                    </div>					
		        </div>
	        </div>		
	        <div  class="badge-base badge-x-small selector-item" data-selected-item="fluer1">
		        <div class="badge-outer fluer1 backgroundless">
			        <div class="badge-inner">
                    </div>					
		        </div>
	        </div>	
	        <div  class="badge-base badge-x-small selector-item" data-selected-item="acorn">
		        <div class="badge-outer acorn backgroundless">
			        <div class="badge-inner">
                    </div>					
		        </div>
	        </div>	
	        <div  class="badge-base badge-x-small selector-item" data-selected-item="horse1">
		        <div class="badge-outer horse1 backgroundless">
			        <div class="badge-inner">
                    </div>					
		        </div>
	        </div>
	        <div  class="badge-base badge-x-small selector-item" data-selected-item="leaf1">
		        <div class="badge-outer leaf1 backgroundless">
			        <div class="badge-inner">
                    </div>					
		        </div>
	        </div>
	        <div  class="badge-base badge-x-small selector-item" data-selected-item="firebird1">
		        <div class="badge-outer firebird1 backgroundless">
			        <div class="badge-inner">
                    </div>					
		        </div>
	        </div>	
	        <div  class="badge-base badge-x-small selector-item" data-selected-item="wheel1">
		        <div class="badge-outer wheel1 backgroundless">
			        <div class="badge-inner">
                    </div>					
		        </div>
	        </div>		
        </div>
    </div>
    <br />
    <form class="form-horizontal" role="form">
        <fieldset>
            <legend>Award Details</legend>
            <div class="form-group">
                <label for="award-name" class="control-label">Award Display Name</label>
                <input id="award-name" class="form-control" type="text" placeholder="Enter award name" />
            </div>
            <div class="form-group">
                <label for="award-desc" class="control-label">Award Description</label>
                <textarea id="award-desc" class="form-control" rows="3" placeholder="Enter the description for the award" ></textarea>
            </div>
        </fieldset>
        <button type="button" class="btn btn-default pull-right">Create Award</button>
    </form>
</div>

@section scripts {
    <link href="~/Content/themes/default/badge.css" rel="stylesheet" media="screen" />
    <link href="~/Content/themes/default/Awards/create.css" rel="stylesheet" media="screen" />
    <script src="~/Scripts/Awards/create.js"></script>
}