﻿    <!-- starts footer -->
    <footer id="footer">
        <div class="container"> 
            <div class="row copyright">
                <div class="col-md-12">
                    <div class="col-xs-offset-5">
                        © 2013 Abacus - IMCS
                    </div>
                    <div class="col-xs-offset-10">
                        <img id="hddnmshrm" src="~/Images/mmushroom.png" />
                    </div>
                </div>
            </div>           
        </div>
    </footer>