﻿<!DOCTYPE html>
<html lang="en">
<head>
	<title>@ViewBag.Title - My ASP.NET MVC Application</title>
	@RenderSection("meta", required: false)
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
    <!-- Styles -->
	<link href="~/Content/themes/default/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/themes/default/bootstrap-override.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Content/themes/default/theme.css" />

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css' />

    <!--<link rel="stylesheet" href="css/compiled/index.css" type="text/css" media="screen" />-->
    <link rel="stylesheet" type="text/css" href="~/Content/themes/default/lib/animate.css" media="screen, projection" />    
	
	@Html.Partial("_html5shiv")
</head>
<body class="pull_top">
    @Html.Partial("_NavBar")
 
	@RenderBody()

	@Html.Partial("_Footer")

    <!-- Scripts -->
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)	
    <script type="text/javascript" src="~/Scripts/theme.js"></script>
</body>
</html>