﻿#award-builder{
    margin-top:110px;
}
#builder .badge-outer{
    padding-left:7%;
}
#builder .badge-outer .badge-inner{
    margin-top:5%;
}
.selector-element{
	height:60px;
	display:inline-block;
	overflow-x: scroll;
	border:1px solid black;
	background-color:#c9c9c9;
    padding-bottom:5px;
				
}
.selector-item{
	float:left;
	margin-left:10px;
    margin-top:5px;
    margin-bottom:5px;
    padding:2px !important;
}
.container{
    width:100%;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
h4{
    width:350px !important;
}
.selector-element[data-selector-type="fg"] .badge-base{
    background-color:black !important;
}
.backgroundless .badge-inner{
    width:100% !important;
    height:100% !important;
    margin-left: 15% !important;
    margin-top:-10%;
}